<div class="row">
<div class="col-md-12">
<div class="card ">
<div class="card-body">

{{#if model.immature}}
<h3>{{t "block.immature_blocks"}}</h3>

 <div class="table-responsive" style="overflow: auto;">
 <table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary"> 
      <tr>
        <th>{{t "block.height"}}</th>
        <th>{{t "block.hash"}}</th>
        <th>{{t "block.time_found"}}</th>
        <th>{{t "block.variance"}}</th>
        <th>{{t "block.reward"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.immature as |block|}}
        {{partial "blocks/block"}}
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<h3>{{t "block.no_immature_blocks_yet"}}</h3>
{{/if}}
</div>
</div>
</div>
</div>
