<div class="row">
<div class="col-12">
<div class="card card-chart" style="background-color:#0b0b16;">

{{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
</div>
</div>
</div>  
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">

{{#if model.workers}}
  <h4>{{t "account.your_workers"}}</h4>
                <div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary"> 
        <tr>
          <th>ID</th>
          <th>{{t "account.hashrate"}} ({{t "account.short_average_abbrv"}} / {{t "account.short_average_abbrv"}})</th>
          <th>{{t "account.earnings.worker"}}</th>
          <th>{{t "account.difficulty"}}</th>
          <th>{{t "account.server"}}</th>
          <th>{{t "account.last_share"}}</th>
        </tr>
      </thead>
      <tbody class=" text-primary">
        {{#each-in model.workers as |k v|}}
          <tr class="worker-class {{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}} / {{format-hashrate v.hr2}}</td>
            <td>{{format-number (worker-earnperday v.hr netstats.hashrate)}} {{config.Unit}}</td>
            <td>{{format-difficulty v.difficulty}}</td>
            <td>{{v.hostname}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>{{t "account.no_workers_online"}}</h3>
  {{/if}}
</div>
</div>
</div>
</div>
