
    <div class="row">
<div class="col-md-12">
<div class="card card-chart" style="background-color:#0b0b16;">
  {{high-charts mode=chartMode chartOptions=chartPayment content=chartData}}
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
            <div class="card">
              <div class="card-body">
  {{#if model.payments}}
  <h3>{{t "payout.latest_payouts"}}</h3>
<div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter" id="" style="font-size: 12px;">
       <thead class=" text-primary"> 
        <tr>
          <th>{{t "payout.time"}}</th>
          <th>{{t "payout.txid"}}</th>
          <th>{{t "payout.amount"}} {{config.Unit}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>
              <a href="{{t "links.blockExplorerLink_tx"}}{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
            </td>
            <td>{{format-balance tx.amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "payout.no_payouts_yet"}}</h3>
  {{/if}}
</div>
</div>
</div>
</div>
