<div class="row">
<div class="col-12">
  {{#if model.rewards}}
            <div class="card">
              <div class="card-body">
  <h4 style="font-size:17px;font-weight: 700;">Your Latest Rewards</h4>
                <div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter" id="">
  {{#each model.sumrewards as |sumreward|}}
  <tr>
    <td>{{sumreward.name}}</td>
    <td>{{format-balance sumreward.reward}}</td>
  </tr>
  {{/each}}
   </table>
</div>   
</div>
</div>
<div class="row">
<div class="col-12">
            <div class="card">
              <div class="card-body">
<div style="padding-top:10px;font-size:12px;">
<span class="label label-default">Immature</span> <span class="label label-success">Matured</span>
</div>                
<div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary"> 
      <tr>
        <th>Block Height</th>
        <th>Reward</th>
        <th>Round Share</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.rewards as |tx|}}
        <tr>
          <td>{{format-number  tx.blockheight}}</td>
          <td>
		{{#if tx.immature}}
                        <span class="label label-default">{{format-balance tx.reward}}</span>
                {{else}}
                        <span class="label label-success">{{format-balance tx.reward}}</span>
                {{/if}}
	  </td>
          <td>{{format-number tx.percent style='percent' maximumFractionDigits='6'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
  {{else}}
  <h3>No rewards yet</h3>
  {{/if}}
</div>
</div>