<div class="main-panel" style="
    z-index: 1;
    min-height: 0vh;
border-top: 2px solid #c19e3e00;
    background: linear-gradient(#1e1e2f00,#1e1e2400);
">
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)"></a>
          </div>
           </div>
      </nav>
</div>
<div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper ps">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini" style="font-size:8px;">
---->
        </a>
          <a href="https://protonmine.com/" class="simple-text logo-normal" style="font-size:14px;">
            Protonmine
          </a>
        </div>
        <ul class="nav">
		<li style="font-size:17px;">
            <a href="/#/">
              <i class="icon ion-md-rocket"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="/#/help">
              <i class="icon ion-md-help"></i>
              <p>Help</p>
            </a>
          </li>
	<li>
            <a href="/#/miners">
              <i class="icon ion-md-hammer"></i>
              <p>Miners</p>
            </a>
          </li>
		<li>
            <a href="/#/blocks">
              <i class="icon ion-md-cube"></i>
              <p>Blocks</p>
            </a>
          </li>
          <li>
            <a href="/#/payments">
              <i class="icon ion-md-card"></i>
              <p>Payments</p>
            </a>
          </li>
      <!--
		  <li>
	    <a href="/#/about">
              <i class="icon ion-md-help-circle-outline"></i>
              <p>About</p>
            </a>
          </li>
    -->
<li>
            <a data-toggle="collapse" href="#pools" class="" aria-expanded="true">
              <i class="icon ion-md-git-network"></i>
              <p>
                Pools
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="pools" style="">
              <ul class="nav">
                <li>
                  <a href="https://egem.protonmine.com" style="font-size:15px;">
                    <span class="sidebar-mini-icon">P</span>
                    <span class="sidebar-normal"> EGEM </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
		  
        </ul>
</div>
    </div>
{{outlet}}


