<div class="main-panel" style="overflow:hidden;">
<div class="content">

<div class="jumbotron">
    <p class="lead white-text">{{t "payments.pay_tx"}}</p>
    <strong style="font-size:13px;">{{t "payments.total_payments_sent"}}:</strong> <span class="white-text label label-info" style="font-size:11px;">{{model.paymentsTotal}}</span>
  </div>
  {{#if model.payments}}
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive" style="overflow: auto;">
<table class="table tablesorter " id="" style="font-size: 12px;">
                    <thead class=" text-primary">        <tr>
          <th>{{t "payments.time"}}</th>
          <th>{{t "payments.amount"}}</th>
          <th>{{t "payments.address"}}</th>
          <th>{{t "payments.txid"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>{{format-number tx.formatAmount}}</td>
            <td>
              <a href="{{t "links.blockExplorerLink_address"}}{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
            </td>
            <td>
              <a href="{{t "links.blockExplorerLink_tx"}}{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

  {{else}}
  <h3>{{t "payments.no_payouts_yet"}}</h3>
  {{/if}}
</div>
</div>